body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: rgb(245, 236, 220);
}

h1 {
  font-weight: lighter;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  background-color: white;
}

.post {
  background-color: white;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 100px;
  height: 60%;
  width: 35%;
  border-style: solid;
  border-width: 5px;
}

.profile {
  display: flex;
}

.profile > img {
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-style: none;
  margin: 20px;
}

.profile > p {
  font-size: 24pt;
  margin: auto;
  margin-left: 40px;
}

.main-pic {
  object-fit: scale-down;
  height: 550px;
  width: 100%;
}

.metadata {
  display: flex;
}

.metadata > img {
  height: 30px;
  object-fit: cover;
  width: 30px;
  margin: 10px;
}

.metadata > img:hover {
  transform: scale(1.1);
}

.footer {
  margin: 20px;
}

.footer > p {
  margin: 10px;
}

footer {
  display: flex;
  font-size: 12pt;
  border-style: solid;
  border-width: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer > button {
  padding: 0%;
  margin: 0%;
  width: 33.33%;
  height: 60px;
  font-size: 20pt;
  border-style: none;
  background-color: white;
}

#home-btn {
  border-right: solid;
  border-width: 5px;
}

#new-btn {
  border-right: solid;
  border-width: 5px;
}

.hidden {
  display: none !important;
}

nav {
  text-align: center;
}

#search-input {
  width: 80%;
  height: 65px;
  font-size: 30pt;
  margin: 10px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

#find {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 15%;
  height: 35px;
  font-size: 12pt;
  border-style: none;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

select {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  display: block;
  width: 6%;
  height: 35px;
  margin: auto;
  font-size: 17pt;
}

form {
  display: flex;
  flex-direction: column;
  padding: 200px;
  padding-left: 300px;
  padding-right: 300px;
}

form > label {
  margin: 10px;
}

form > input {
  margin: 10px;
}


